---
name: Scrape
on:
  schedule:
    - cron: '0 12 * * *' # Every day at 12:00
  workflow_dispatch:

jobs:
  scrape:
    name: python
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Clone repo
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        run: uv python install

      - name: Perform scrape & commit changes
        run: ./scrape.sh
